html {
    scroll-behavior: smooth;
}

body {
    background-color: #1B1B1B;
    margin: 0;
    overflow-x: hidden;
}

p {
    width: fit-content;
}

a {
    text-decoration: none;
}

.jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    color: white;
}

.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    color: #C8C8C8;
}

#nav-panel {
    margin: 0;
    position: fixed;
    background-color: #1B1B1B;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    border-right-width: 5%;
    border-right-color: #515151;
    border-right-style: solid;
    z-index: 1;
}

#content-panel {
    margin: 0;
    border: none;
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    right: 0;
    padding-left: 0%;
    background-color: #1b1b1b;
}

.section {
    width: 90%;
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
    background-color: #1B1B1B;
    position: relative;
}

.alt-section {
    background-color: #2C2C2C;
}

#nav-title {
    font-weight: 400;
    margin-left: 7%;
}

.nav-link {
    width: auto;
    font-size: 28px;
    margin: 0;
    padding-left: 7%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

.sect-head {
    font-size: 36px;
}

#intro-panel {
    margin-top: 0%;
}

#intro-img {
    position: absolute;
    top: 5%;
    right: 0%;
    transform: scale(0.8, 0.8);
}

#intro-btn {
    background-color: #1B1B1B;
    border: 3px solid #29CE00;
    color: #29CE00;
    font-size: 36px;
    font-weight: 600;
    padding: 15px;
    margin-top: 3%;
}

#abt-slides {
    position: absolute;
    top: 22%;
    right: 10%;
    width: 30%;
}

#abt-img {
    width: 100%;
    aspect-ratio: 3 / 4;
    overflow: hidden;
}

#abt-img-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.abt-img-tab {
    width: fit-content;
    padding-left: 2%;
    padding-right: 3%;
    background-color: #3B3838;
    border-left: 2px #515151 solid;
    font-size: 14px;
}

#fth-tab {
    background-color: #2b2929;
}

h1:hover {
    cursor: default;
}

.nav-link:hover {
    background-color: #383838;
}

#intro-btn:hover {
    color: #33ff00;
    border-color: #33ff00;
    cursor: pointer;
}

.abt-img-tab:hover {
    cursor: pointer;
}

/* <weight>: Use a value from 100 to 800
 <uniquifier>: Use a unique and descriptive class name

.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  .rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}*/